@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --navBg: #FEFEFE;
    --primary: #0BE881;
    --text1: #5d5d5d;
}

body {
    background-color: var(--navBg);
}

#navbar {
    background-color: var(--navBg);
}

#navbar .navbar-brand {
    color: var(--primary);
}

#navbar .navbar-toggler {
    border: none;
}

#navbar .navbar-toggler i {
    color: var(--primary);
}

#navbar .navbar-toggler:focus {
    box-shadow: none;
}

#navItem li a {
    color: black;
    font-size: 15px;
    margin-left: 20px;
    font-weight: 500;
}

#navItem li .active {
    border-bottom: 2px solid var(--primary);
    color: var(--primary);
}

#logInSection {
    margin-left: 5% !important;
}

#logInSection li button {
    border: none;
    font-size: 14px;
}

#logInSection li button:focus {
    box-shadow: none;
}

#logInSection li button:active {
    transform: scale(0.97);
}

#logIn-nav:hover {
    background-color: var(--primary);
}

#logOut-nav {
    font-weight: 500;
    font-size: 13px;
    padding: 5px 20px;
    background-color: var(--primary);
    color: white;
}

#logInSection .user-nav-dp img {
    width: 30px;
    height: 30px;
    outline: 3px solid var(--primary);
    border-radius: 50%;
    cursor: pointer;
}

#signup-nav {
    background-color: var(--primary);
}

#slider-inside {
    margin-top: 4%;
}

#carousel-items {
    border-radius: 10px;
}

#carousel-items .custom-carousel-item {
    height: 450px;
    border-radius: 10px;
}

#carousel-items .custom-carousel-item img {
    user-select: none;
    pointer-events: none;
    border-radius: 10px;
}

#carousel-items .custom-carousel-item .carousel-caption {
    position: absolute;
    top: 15%;
    left: 7%;
    color: black;
    display: flex !important;
    flex-direction: column;
    align-items: flex-start;
}

#carousel-items .custom-carousel-item .carousel-caption p {
    color: var(--text1);
}

#homecarousel {
    position: relative;
}

#homecarousel .carousel-control-prev {
    position: absolute !important;
    left: 0;
    top: -3%;
    color: black;
    opacity: 100%;
}

#homecarousel .carousel-control-next {
    position: absolute !important;
    top: -3%;
    left: 10%;
    color: black;
    opacity: 100%;

}

#place {
    position: absolute;
    top: 46%;
    left: 11%;
}

/* services starts */
#home-services-all {
    margin-top: 5%;
}

#home-services-all h5 {
    font-size: 18px;
    font-weight: 600;
}

#home-services-all-cards .service-card {
    width: 280px;
    height: auto;
    background-color: white;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 4px;
}

#home-services-all-cards .service-image {
    padding: 0 !important;
}

#home-services-all-cards .service-image img {
    border-radius: 3px;
    height: 120px;
    width: 100%;
}

#home-services-all-cards .service-short-desc {
    margin-top: 7%;
}

#home-services-all-cards .service-short-desc .service-short-title {
    font-size: 15px;
    font-weight: 500;
}

#home-services-all-cards .service-short-desc .service-short-teacher {
    font-size: 14px;
    font-weight: 500;
}

#home-services-all-cards .service-short-desc .service-short-duration {
    font-size: 13px;
    font-weight: 400;
    margin-top: 3px !important;
}


#home-services-all-cards .service-short-desc .service-description {
    color: var(--text1);
    font-size: 13px;
    margin-top: 10px !important;
    min-height: 100px;
}

#home-services-all-cards .service-short-desc .service-description .rev {
    color: black;
    font-weight: 500;
}

#home-services-all-cards .service-short-desc .service-short-dollar {
    font-size: 15px;
    font-weight: 500;
    margin-top: 3% !important;
}

#home-services-all-cards .service-short-desc .service-short-btn {
    width: 100%;
    background-color: var(--primary);
    margin-bottom: 7px;
    margin-top: 8%;
    font-size: 14px;
    color: black;
}

#home-services-all-cards .service-short-desc .service-short-btn:focus {
    box-shadow: none;
}

#home-services-all-cards .service-short-desc .service-short-btn:active {
    transform: scale(0.97);
}

#home-view-all {
    font-size: 14px;
    border-radius: 3px;
    padding: 5px 15px;
    transition: all 0.3s ease;
}

#home-view-all:focus {
    box-shadow: none;
    outline: none;
}

#home-view-all:hover {
    background-color: var(--primary);
}

#home-view-all:active {
    transform: scale(0.95);
}

#process-section-left {
    width: 40%;
    margin-top: 5%;
}

#process-section-right {
    width: 60%;
    display: flex;
    justify-content: flex-end;
}

#process-section-right img {
    width: 80%;
    height: 400px;
    margin-top: -10%;
}

#inside-process-section h5 {
    font-weight: 600;
    font-size: 18px;
}

#inside-process-section>p {
    font-size: 14px;
    color: var(--text1);
}

#process-section-left .process-contents .process-contents-icon {
    width: 10%;
}

#process-section-left .process-contents .process-contents-icon span {
    background-color: #0be8812d;
    padding: 6px 10px;
    border-radius: 50%;
}

#process-section-left .process-contents .process-contents-icon span i {
    color: var(--primary);
}

#process-section-left .process-contents .process-contents-desc {
    width: 90%;
}

#process-section-left .process-contents .process-contents-desc .process-title {
    font-size: 16px;
    font-weight: 500;
}

#process-section-left .process-contents .process-contents-desc .process-desc {
    font-size: 13px;
    font-weight: 400;
    color: var(--text1);
}

#subscription-content h5 {
    font-size: 18px;
    font-weight: 600;
}

#subscription-leftSide {
    width: 50%;
}

#subscription-rightSide {
    width: 50%;
}

#subscription-rightSide h4 {
    font-size: 25px;
    font-weight: 500;
}

#subscription-rightSide p {
    font-size: 14px;
    color: var(--text1);
}

#subscription-rightSide input {
    margin-top: 7%;
    width: 80%;
    border: 1px solid var(--primary);
    font-size: 14px;
    padding: 7px 10px;
}

#subscription-rightSide input:focus {
    box-shadow: none;
}

#subscription-rightSide button {
    margin-top: 3%;
    width: 80%;
    background-color: var(--primary);
    border-radius: 4px;
    font-size: 14px;
}

#subscription-rightSide button:focus {
    box-shadow: none;
    outline: none;
}

#subscription-rightSide button:active {
    transform: scale(0.99);
}

footer {
    height: 25vh;
    background-color: #0be8813d;
}

footer>div {
    width: 100% !important;
}

footer div a {
    background-color: var(--primary);
    padding: 7px 10.5px;
    border-radius: 50%;
    cursor: pointer;
    text-decoration: none;
    color: white;
    border: 1px solid var(--primary);
    transition: all 0.4s ease;
}

footer div a:hover {
    background-color: var(--navBg);
    color: var(--primary);
    border: 1px solid var(--primary);
}

footer div a i {
    font-size: 1.1rem;
}

footer p {
    color: var(--text1);
    font-size: 14px;
}

@media only screen and (max-width: 991px) {
    #process-section-left {
        width: 100%;
    }

    #process-section-right {
        width: 100%;
    }

    #process-section-right img {
        width: 100%;
        height: 300px;
        margin-top: 5%;
    }

    #email-subscription {
        padding-bottom: 25px;
    }

    #subscription-bothSide {
        flex-direction: column;
    }

    #subscription-leftSide {
        width: 100%;
    }

    #subscription-rightSide {
        width: 100%;
    }

    #process-section-left .process-contents .process-contents-icon {
        width: 20%;
    }

    #process-section-left .process-contents .process-contents-desc {
        width: 80%;
    }

    #subscription-rightSide input {
        width: 95%;
    }

    #subscription-rightSide button {
        width: 95%;
    }

    #carousel-items .custom-carousel-item {
        height: 300px;
    }

    #carousel-items .custom-carousel-item .carousel-caption {
        top: 15%;
        left: 7%;
    }

    #carousel-items .custom-carousel-item .carousel-caption p {
        font-size: 13px;
    }

    #carousel-items .custom-carousel-item .carousel-caption h4 {
        font-size: 15px;
    }

    #homecarousel .carousel-control-next {
        left: 35%;
    }

    #place {
        position: absolute;
        top: 44%;
        left: 19%;
    }
}